{% extends "base.html" %}

{% block jsscript %}

{% endblock %}


{% block main %}

<div class="row admin">
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
                <td>Username</td>
                <td>Role</td>
                <td>Admin</td>
                <td>Code5</td>
                <td>Action</td>
            </tr>
        </thead>
        {% for user in d.users %}
            <tr>
                <td><a href="/user/{{ user.user_username }}">{{ user.user_username }}</a></td>
                <td>{{ user.user_type }}</td>
                <td></td>
                <td>{{ user.user_code5 }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}