# Development environment pip requirements file
# Install via 'pip install -r requirements_dev.txt'
# sudo apt-get install libffi-dev

flask
yaml
pymongo
jinja2
simplejson
wtforms
flask-uploads
flask-auth
flask-oauth
flask=bcrypt